:root {
    --bg-primary: #000000;
    --text-light: #ffffff;
    --text-dark: #1d1d1f;
    --title-primary-color: #f5f5f7;
    --subtitle-color: #6e6e73;
    --action-color: #2997ff;
    --series-poster-color: #ded2b9;
}

header {
    background-color: var(--bg-primary);
    color: var(--text-light);
    height: fit-content;                  /* The minimum size to fit all the elements inside */
    opacity: 0.9;
    position: sticky;                     /* Header fixed on a specific position on the screen, even when scrolling */
    top: 0;                               /* Position where the sticky element is going to be placed */
    z-index: 1                            /* Positiong the element on the Z axis */;
    padding: 12px 0;
}

header nav ul {
    margin: 0 auto;                       /* No margins on the top and the bottom, and automatic calculated margins on the sides */
    width: fit-content;                   /* The minimum size to fit all the elements inside */
    display: flex;
    align-items: center;
    gap: 1rem;                            /* Space between the items */
    padding: 0 2rem;
}

header nav ul li {
    min-height: fit-content;
    height: fit-content;
    padding: 0 0.75rem;
    font-size: small;
    cursor: pointer;
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

main section {
    text-align: center;
    position: relative;
}

main section img {
    width: 100%;
    height: auto;
}

main section a {
    color: var(--action-color);
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}

main section a:hover {
    text-decoration: underline;
}

main .hero-section h1 {
    color: var(--title-primary-color);
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    letter-spacing: -0.28px;              /* Space between the letters*/
}

main .hero-section h2 {
    color: var(--subtitle-color);
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 2rem;
    letter-spacing: 0.11px;
    margin-bottom: 1rem;
}

main .hero-section sup {
    font-size: 0.9rem;
}

main .hero-section .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);          /* It pulls the element X% of the element size to a side, since we are using the property left,
                                             otherwise it would be placed almost at the center, not exactly at the center */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 51px;
}

main .series-section > div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main .series-section > div:last-child {
    bottom: 50px;
}

main .series-section > div:first-child {
    top: 105px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 60%;
}

main .series-section > div:first-child p {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: var(--series-poster-color);
    letter-spacing: -0.6px;
}

main .series-section p {
    color: var(--title-primary-color);
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.11px;
}

main .series-section span {
    color: var(--text-light);
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: block;
    letter-spacing: 0.23px;
}

main .product-section h2 {
    color: var(--text-dark);
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    letter-spacing: -0.28px;              /* Space between the letters*/
}

main .product-section p {
    color: var(--text-dark);
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 2rem;
    letter-spacing: 0.11px;
    margin-bottom: 1rem;
}

main .product-section .link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

main .product-section .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);          /* It pulls the element X% of the element size to a side, since we are using the property left,
                                             otherwise it would be placed almost at the center, not exactly at the center */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 51px;
}
